*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    height: 100px;
    background-color:rgb(255, 255, 179);
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 124, 118);
    text-align: center;
    font-size: 25px;
}
header h1{
    color: white;
    padding-top: 15px;  
}
main{
    width: 100%;
    height: auto;
}
main .box1,.box2,.box3{
    height: auto;
    border: 1px solid white;
    box-shadow: 0px 5px 5px rgb(245, 245, 125);
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
    background-color: white;
}
main .box1 p{
    padding: 5px;
    font-size: 20px;
}
main .box2 h2{
    font-size: 30px;
    color: rgb(138, 2, 31);
    padding: 10px;
}
main .box2 ul li{
    font-size: 20px;
    margin-left: 50px;
    padding-bottom: 5px;
}
main .box3 h2{
    font-size: 30px;
    color: rgb(138, 2, 31);
    padding: 10px;
}
main .box3 ol li{
    font-size: 20px;
    margin-left: 50px;
    padding-bottom: 5px;
}
footer{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(0, 124, 118);
    padding-top: 20px;
    color: white;
}
